<f:layout name="Default" />
<f:section name="main">

<f:flashMessages />

<h1 class="blogHeading">
  Blogbeiträge
  <f:if condition="{byAuthor}">
    von {byAuthor.name}
  </f:if>
  <f:if condition="{byCategory}">
    aus der Kategorie {byCategory.title}
  </f:if>
  <f:if condition="{byTag}">
    mit dem Tag {byTag.name}
  </f:if>
</h1>

<f:if condition="{byAuthor}">
  <f:render partial="Author/Details" arguments="{author: byAuthor}" />
</f:if>

<f:if condition="{blogPosts -> f:count()} > 10">
  <f:then>
    <f:widget.paginate objects="{blogPosts}" as="paginatedBlogPosts" configuration="{itemsPerPage: 10, insertAbove: 0, addQueryStringMethod: 'GET'}">
      <f:for each="{paginatedBlogPosts}" as="post">
        <f:render partial="BlogPost/Preview" arguments="{_all}"></f:render>
      </f:for>
    </f:widget.paginate>
  </f:then>
  <f:else>
    <f:for each="{blogPosts}" as="post">
      <f:render partial="BlogPost/Preview" arguments="{_all}"></f:render>
    </f:for>
  </f:else>
</f:if>


</f:section>